/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

a {
  color: #fff;
  text-decoration: none;
  color: #fff; }

a:hover {
  color: #F0C808; }

a:active {
  color: #44bba4; }

hr {
  border: 1px solid #fff; }

.header {
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #AA0601;
  color: #fff;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 20px;
  line-height: 30px; }
  .header img {
    width: 80px;
    height: 48.57px; }
  .header .menu {
    width: 27%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  @media (max-width: 768px) {
    .header {
      height: 108px; }
      .header .menu {
        width: 57%; } }
  @media (max-width: 375px) {
    .header {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding: 0;
      height: 100%; }
      .header a {
        margin: auto;
        width: auto;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px; }
      .header .menu {
        width: 100%;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
      .header .menu li {
        text-align: center;
        width: 50%;
        border: 1px solid #fff;
        padding-top: 8px;
        padding-bottom: 8px; } }

.footer {
  background-color: #AA0601;
  color: #fff;
  padding-left: 21%;
  padding-right: 21%; }
  .footer .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .footer .footer-menu .menu-items {
      width: 105%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-family: "Noto Sans TC", sans-serif;
      font-size: 16px;
      line-height: 24px;
      padding-top: 32px;
      padding-bottom: 36px; }
  .footer .social-media {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 32px; }
  .footer .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 16px; }
    .footer .phone .phone-img {
      width: 48px;
      text-align: center; }
    .footer .phone a:link {
      font-size: 36px;
      line-height: 54px;
      font-family: "Roboto", sans-serif;
      padding-left: 16px; }
  .footer .email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 24px; }
    .footer .email .email-img {
      width: 48px;
      text-align: center; }
    .footer .email a:link {
      font-size: 36px;
      line-height: 54px;
      font-family: "Roboto", sans-serif;
      padding-left: 16px; }
  .footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 16px;
    line-height: 24px;
    font-family: "Roboto", sans-serif;
    padding-top: 33px;
    padding-bottom: 39px;
    border-top: 1px solid #fff; }
    .footer .copyright .copyright-link {
      font-size: 14px;
      line-height: 21px;
      font-family: "Noto Sans TC", sans-serif;
      width: 16%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
  @media (max-width: 768px) {
    .footer {
      padding-left: 5%;
      padding-right: 5%; }
      .footer .footer-menu .menu-items {
        width: 159%;
        padding-bottom: 24px; }
      .footer .social-media {
        width: 16%; }
        .footer .social-media img {
          width: 24px; }
      .footer .phone {
        padding-bottom: 12px; }
        .footer .phone a:link {
          font-size: 20px;
          line-height: 30px;
          padding-left: 8px; }
        .footer .phone .phone-img {
          width: 24px; }
      .footer .email {
        padding-bottom: 20px; }
        .footer .email a:link {
          font-size: 20px;
          line-height: 30px;
          padding-left: 8px; }
        .footer .email .email-img {
          width: 24px; }
      .footer .copyright {
        padding-top: 24px;
        padding-bottom: 32px; }
        .footer .copyright .copyright-link {
          width: 22%; } }
  @media (max-width: 375px) {
    .footer {
      padding-left: 15px;
      padding-right: 15px; }
      .footer .footer-menu .menu-items {
        display: none; }
      .footer .social-media {
        width: 35%;
        padding-top: 24px; }
      .footer .phone {
        padding-top: 25px;
        padding-bottom: 6px; }
        .footer .phone a:link {
          font-size: 16px;
          line-height: 30px;
          padding-left: 6.5px; }
        .footer .phone .phone-img {
          width: 24px; }
      .footer .email {
        padding-bottom: 24px; }
        .footer .email a:link {
          font-size: 16px;
          line-height: 30px;
          padding-left: 6.5px; }
        .footer .email .email-img {
          width: 24px; }
      .footer .copyright {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-top: 16px;
        padding-bottom: 24px; }
        .footer .copyright .copyright-link {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
          .footer .copyright .copyright-link li {
            padding-top: 8px; } }

main {
  padding-left: 21%;
  padding-right: 26%;
  margin-top: 96px;
  margin-bottom: 74px;
  font-family: "Noto Sans TC", sans-serif; }
  main h1 {
    font-size: 48px;
    line-height: 80px;
    font-weight: bold;
    border-left: 8px solid #9F1213;
    padding-left: 16px; }
  main h2 {
    font-size: 32px;
    line-height: 63px;
    font-weight: bold;
    padding-top: 60px;
    padding-bottom: 36px; }
  main .qa-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }
    main .qa-list section {
      padding-bottom: 32px; }
      main .qa-list section .qa-title {
        font-size: 20px;
        line-height: 30px;
        font-weight: bold;
        padding-bottom: 16px; }
      main .qa-list section .qa-answer {
        font-size: 16px;
        line-height: 24px;
        padding-left: 9%; }

@media (max-width: 768px) {
  main {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 60px;
    margin-bottom: 72px; }
    main h1 {
      border-left: 4px solid #9F1213; }
    main h2 {
      padding-top: 40px;
      padding-bottom: 32px; }
    main section {
      padding-bottom: 24px; } }

@media (max-width: 375px) {
  main {
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 28px;
    margin-bottom: 36px; }
    main h1 {
      font-size: 28px;
      padding-left: 8px; }
    main h2 {
      font-size: 20px;
      padding-top: 24px;
      padding-bottom: 24px; }
    main .qa-list section {
      padding-bottom: 20px; }
      main .qa-list section .qa-title {
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 8px; }
      main .qa-list section .qa-answer {
        font-size: 14px;
        line-height: 21px;
        padding: 0; } }

/*# sourceMappingURL=all.css.map */
